body {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h1 {
    color: red;
}
section {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    gap: 50px;
}